<%= form_with(model: @store ,scope: :store, url: owner_new_store_path ) do |store|  %>


<div class = "form container mt-5">
<%= store.label :name ,  class:"form-label" %>
<%= store.text_field :name , class:"form-control" %>

</br>
<%= store.submit  class:"btn btn-secondary"%>
</div>
<%end%>