<%= form_with(model: @category) do |category|  %>
<div class = "form container mt-5">
   <%= category.label :name ,  class:"form-label" %>
   <%= category.text_field :name , class:"form-control" %>
   </br>
   <%= category.submit  class:"btn btn-secondary"%>
</div>
<%end%>